#container {
  min-width: 800px;
  margin: 0 auto;
  margin-top: 1%;
  }

img{
  width: 13rem;
  position: relative;
  left: 13rem;
}

ul {
    top: 1rem;
    position: relative;
    left: 29rem;
}

form {
    position: relative;
    top: 3rem;
    left: 31rem;
}

#signup {
    position: relative;
    top: 1rem;
    left: 59rem;
}

#loggedIn, #loggedOut {
    position: relative;
    top: 6rem;
    text-align: center;
}

footer {
    text-align: center;
    position: relative;
    top: 6rem;
}
